@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <a button type="button" class="btn btn-primary btn-lg btn-block" asp-controller="Registration" asp-action="Register">Register a Movie</a>
</div>

